
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
  <title>Dozee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Dozee Data Analysis</h1>
</div>

<div class="container">
  <table>
  <tr>
    <th>Attribute</th>
    <th>Analysis</th>
  </tr>
  <tr>
    <td>TotalSleep</td>
    <td>{{totalSleep}}</td>
  </tr>
  <tr>
    <td>LightSleep</td>
    <td>{{lightSleep}}</td>
  </tr>
  <tr>
    <td>RemSleep</td>
    <td>{{remSleep}}</td>
  </tr>
  <tr>
    <td>DeepSleep</td>
    <td>{{deepTime}}</td>
  </tr>
  <tr>
    <td>Awake</td>
    <td>{{awake}}</td>
  </tr>
  <tr>
    <td>HeartRate</td>
    <td>{{heartRate}}</td>
  </tr>
  <tr>
    <td>BreathRate</td>
    <td>{{breathRate}}</td>
  </tr>
</table>
  <div class="row">
    <div class="col-sm-6">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="canvas1">{{ chart }}</canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="canvas2">{{ chart }}</canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="canvas3">{{ chart }}</canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="canvas4">{{ chart }}</canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="canvas5">{{ chart }}</canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="canvas6">{{ chart }}</canvas>
    </div>
  </div>

</div>

</body>
</html>
